---
import RootLayout from "../layouts/index.astro";
import olliePic from "../../assets/ollie.jpg";
---

<RootLayout>
  <main class="flex w-full flex-col items-center gap-5 p-5">
    <section
      class="font-amitic max-w-6xl px-10 text-center text-7xl font-extrabold text-gray-900 uppercase"
    >
      A weekend retreat for Furries to connect, and party in the heart of the
      PNW
    </section>
    <div class="flex w-full flex-row items-center justify-center gap-10 p-5">
      <img src="images/tree.svg" />
      <img src="images/wolf.svg" />
      <img src="images/fire.svg" />
    </div>
    <div class="w-fit rounded-xl">
      <img class="drop-shadow-2xl lg:rounded-xl" src=`${olliePic.src}` />
    </div>
    <section
      class="flex flex-col items-center justify-center gap-8 rounded-2xl bg-amber-100/50 py-14 text-gray-900 shadow-2xl lg:grid lg:grid-cols-2 lg:px-12"
    >
      <aside class="flex h-full w-full flex-col items-center justify-center">
        <img src="images/trc.png" />
      </aside>
      <section
        class="font-quicksand flex flex-col items-center px-16 text-left text-2xl font-medium"
      >
        <span
          class="font-amitic flex flex-row items-center gap-5 text-4xl font-bold"
        >
          <img src="images/tree.svg" /> The setting
        </span>
        <p class="p-5">
          Hosted at TRC, an LGBTQ+ campground in Granite Falls near Lake
          Stevens, this event is all about community, nature, and unforgettable
          experiences. With a creek perfect for skinny dipping, you can embrace
          the wild and enjoy the freedom of the outdoors.
        </p>

        <span
          class="font-amitic flex flex-row items-center gap-5 text-4xl font-bold"
        >
          <img src="images/rhythm.svg" /> The Vibe
        </span>
        <p class="p-5">
          The campground features semi-permanent party sites with fully
          kitted-out dance floors. Expect late-night DJ sets, spontaneous
          dance-offs, and plenty of space to let loose.
        </p>

        <span
          class="font-amitic flex flex-row items-center gap-5 text-4xl font-bold"
        >
          <img src="images/plate.svg" /> The Perks
        </span>
        <p class="p-5">
          We've got meals planned throughout the weekend, so you can stay
          energized for all the fun, socializing, and adventures.
        </p>

        <!--
        <span
          class="flex flex-row gap-5 items-center font-amitic text-4xl font-bold"
        >
          <img src="images/plate.svg" /> The Perks
        </span>
         -->
      </section>
    </section>
    <div
      class="font-quicksand mx-14 w-full rounded-2xl bg-amber-100/50 p-5 text-center text-5xl font-normal text-gray-900"
    >
      Whether you're here to chill by the fire, dance under the stars, or take a
      refreshing dip in the creek, this is your chance to unplug, embrace
      nature, and bond with fellow furries in a truly unique setting.
    </div>
  </main>
  <style is:global></style>
</RootLayout>
